<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!-- HEAD PARTIAL -->
<%- include ./partial/head %>
<body>

    <div id="loader">
        <div class="loader-container">
            <h3 class="loader-back-text"><img src="images/loader.gif" alt="" class="loader"></h3>
        </div>
    </div>

    <div id="wrapper">
      <!-- HEADER PARTIAL -->
      <%- include ./partial/header.ejs %>

        <section id="page-header" class="section background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="c1 breadcrumb text-left">
                            <li><a href="#">Home</a></li>
                            <li>ALL DOOR</li>
                        </ul>
                        <h3>ALL DOOR</h3>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="clearfix">
            <div class="container">
                <div class="row">
                    <div id="fullwidth" class="col-sm-12">
                        
                        <div class="service-style row" style="margin-top:70px;">
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>All-Door 는 공간 공유 플랫폼입니다</h5>
                                                    <p>iLock을 이용해 누구나 쉽게 자신의 공간을 대여해줄 수 있습니다</br>
							<a href="https://github.com/All-door/All-Door"><img align="right" src="images/gitHub-download-button.png" alt=""></a>

                                                   웹과 모바일 어플리케이션을 통해 주변의 공간을 예약/대여 할 수 있습니다</br></br>
                                                   Open-Source, Open-Hardware로 누구나 쉽게 iLock을 제작할 수도 있습니다
                                                   
                                                   </p>
                                                </div>

                                            </div><!-- end service -->

                        <!-- START CONTENT -->
                        <div class="row">

                            <section class="section clearfix" style="padding-top:20px;">
                                <div class="container">


                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                           
                                            
                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-hotel16"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>iLock 를 이용한 스마트한 예약 시스템</h5>
                                                    <p>예약 시 본인이 직접 iDoor의 비밀번호를 설정하여 안내데스크를 거칠 필요가 없습니다</br>
                                                    탈/부착이 간편한 iDoor를 통해 누구나 쉽게 남는 공간을 호스팅 할 수 있습니다</p>
                                                </div>
                                            </div><!-- end service -->

                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-airplane51"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5> 다양한 목적의 공간 제공 / 대여</h5>
                                                    <p>공부방 / 회의실 / 강당 / 창고 등 공간의 특성에 맞는 용도로 사용할 수 있습니다</br>
                                                    각 공간 특성에 맞는 시간 / 날짜 별 예약을 제공합니다</p>
                                                </div>
                                            </div><!-- end service -->

                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-sedan3"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>보안 시스템</h5>
                                                    <p>파손, 배터리 부족 등 특이사항 발생시 관리자에게 SMS 알림 서비스를 제공합니다</br>
                                                    출입 기록 관리, 임시 비밀번호, Safe Mode를 통해 공간과 사용자를 보호합니다</p>
                                                </div>
                                            </div><!-- end service -->

                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-sedan3"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>임시비밀번호를 사용하는 잠금 시스템</h5>
                                                    <p>별도의 물리적인 키를 사용하지 않아 분실 우려가 없습니다</br>
                                                    비밀번호는 예약시간에 활성화되며 예약시간이 종료되면 자동 파기됩니다</p>
                                                </div>
                                            </div><!-- end service -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </section><!-- end section -->

                        </div><!-- end row -->
                        <!-- END CONTENT -->

                    </div><!-- end fullwidth -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <!-- COPYRIGHTS PARTIAL -->
        <%- include ./partial/copyrights.ejs %>
    </div><!-- end wrapper -->

    <!-- Template core JavaScript's
================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/circle.js"></script>
    <script src="js/progress.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/revslider.js"></script>
</body>
</html>
