<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!-- HEAD PARTIAL -->
<%- include ./partial/head %>
<body>

    <div id="loader">
        <div class="loader-container">
            <h3 class="loader-back-text"><img src="images/loader.gif" alt="" class="loader"></h3>
        </div>
    </div>

    <div id="wrapper">
      <!-- HEADER PARTIAL -->
      <%- include ./partial/header.ejs %>

        <section id="page-header" class="section background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="c1 breadcrumb text-left">
                            <li><a href="#">Home</a></li>
                            <li>ALL DOOR?</li>
                        </ul>
                        <h3>ALL DOOR?</h3>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix">
            <div class="container">
                <div class="row">
                    <div id="fullwidth" class="col-sm-12">

                        <!-- START CONTENT -->
                        <div class="row">

                            <section class="section clearfix">
                                <div class="container">
                                    <div class="hotel-title">
                                        <h3>All Door 스마트 도어락?</h3>
                                        <hr class="left">
                                    </div><!-- end hotel-title -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-hotel16"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>편한 도어락 설치</h5>
                                                    <p>기존에 도어락에 비해 탈/부착이 가능한 도어락 설치</p>
                                                </div>
                                            </div><!-- end service -->

                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-airplane51"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>남는 공간 활용</h5>
                                                    <p>남는 공간에 도어락 설치를 통한 공유 경제</p>
                                                </div>
                                            </div><!-- end service -->

                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-sedan3"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>간편한 예약시스템</h5>
                                                    <p>언제나 어디서나 간편하게 예약</p>
                                                </div>
                                            </div><!-- end service -->

                                            <div class="service-style row">
                                                <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                                                    <i class="icon-sedan3"></i>
                                                </div>
                                                <div class="col-md-10 col-xs-10 col-sm-10">
                                                    <h5>쉽게 사용 가능한 임시 비밀번호</h5>
                                                    <p>키를 받을 필요가 없이 자신이 직접 공간의 비밀번호를 설정</p>
                                                </div>
                                            </div><!-- end service -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end container -->
                            </section><!-- end section -->

                        </div><!-- end row -->
                        <!-- END CONTENT -->

                    </div><!-- end fullwidth -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <!-- COPYRIGHTS PARTIAL -->
        <%- include ./partial/copyrights.ejs %>
    </div><!-- end wrapper -->

    <!-- Template core JavaScript's
================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/circle.js"></script>
    <script src="js/progress.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/revslider.js"></script>
</body>
</html>
