<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<!-- HEAD PARTIAL -->
<%- include ./partial/head %>

    <body>
        <div id="loader">
            <div class="loader-container">
                <h3 class="loader-back-text"><img src="images/loader.gif" alt="" class="loader"></h3>
            </div>
        </div>
        <div id="wrapper">
            <!-- MAIN PARTIAL TOPBAR-->
            <%- include ./partial/main_topbar.ejs %>
                <!-- MAIN PARTIAL HEADER-->
                <%- include ./partial/main_header.ejs %>
                    <section class="section fullscreen background parallax" style="background-image:url('upload/parallax_04.jpg');" data-img-width="1920" data-img-height="1133" data-diff="100">
                        <div class="container">
                            <div class="row homeform">
                                <div class="col-md-5 col-xs-12">
                                    <div class="home-form">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab"><i class="icon-hotel68"></i></a></li>
                                            <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab"><i class="icon-airplane70"></i></a></li>
                                            <li><a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab"><i class="icon-sedan3"></i></a></li>
                                            <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab"><i class="icon-location38"></i></a></li>
                                            <li><a href="#tab_05" aria-controls="tab_05" role="tab" data-toggle="tab"><i class="icon-bicycle12"></i></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab_01">
                                                <h6><strong>숙박 공간 검색하기</strong></h6>
                                                <div class="bookform form-inline row">
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="시작 날짜" id="datepicker">
                                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="종료 날짜" id="datepicker1">
                                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group top-margin col-md-12 col-sm-6 col-xs-12">
                                                        <button id="accomodation-submit"class="btn btn-primary btn-block"><i class="icon-search"></i> 공간 검색하기</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end tab-pane -->

                                            <div role="tabpanel" class="tab-pane" id="tab_02">
                                                <h6><strong>회의실 공간 검색하기</strong></h6>
                                                <div class="bookform form-inline row">
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control col-md-9" placeholder="예약 날짜" id="datepicker2">
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="meetingroom-starttime" class="selectpicker" data-style="btn-white">
                                                                <option value="">시작 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="meetingroom-endtime" class="selectpicker" data-style="btn-white">
                                                                <option value="">종료 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group top-margin col-md-12 col-sm-6 col-xs-12">
                                                        <button id="meetingroom-submit" type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i> 공간 검색하기</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end tab-pane -->

                                            <div role="tabpanel" class="tab-pane" id="tab_03">
                                                <h6><strong>강당 공간 검색하기</strong></h6>
                                                <div class="bookform form-inline row">
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control col-md-9" placeholder="예약 날짜" id="datepicker3">
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="auditorium-starttime" class="selectpicker" data-style="btn-white">
                                                                <option value="">시작 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="auditorium-endtime" class="selectpicker" data-style="btn-white">
                                                                <option value="">종료 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group top-margin col-md-12 col-sm-6 col-xs-12">
                                                        <button id="auditorium-submit" class="btn btn-primary btn-block"><i class="icon-search"></i> 예약하러 가기</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end tab-pane -->

                                            <div role="tabpanel" class="tab-pane" id="tab_04">
                                                <h6><strong>공부방 공간 검색하기</strong></h6>
                                                <div class="bookform form-inline row">
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control col-md-9" placeholder="예약 날짜" id="datepicker4">
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="studyroom-starttime" class="selectpicker" data-style="btn-white">
                                                                <option value="">시작 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="studyroom-endtime" class="selectpicker" data-style="btn-white">
                                                                <option value="">종료 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group top-margin col-md-12 col-sm-6 col-xs-12">
                                                        <button id="studyroom-submit" class="btn btn-primary btn-block"><i class="icon-search"></i> 예약하러 가기</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end tab-pane -->

                                            <div role="tabpanel" class="tab-pane" id="tab_05">
                                                <h6><strong>창고 공간 검색하기</strong></h6>
                                                <div class="bookform form-inline row">
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <input type="text" class="form-control col-md-9" placeholder="예약 날짜" id="datepicker5">
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="warehouse-starttime" class="selectpicker" data-style="btn-white">
                                                                <option value="">시작 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group col-md-6 col-sm-12 col-x12">
                                                        <div class="dropdown">
                                                            <select id="warehouse-endtime" class="selectpicker" data-style="btn-white">
                                                                <option value="">종료 시간</option>
                                                                <option value="00:00">00:00</option>
                                                                <option value="01:00">01:00</option>
                                                                <option value="02:00">02:00</option>
                                                                <option value="03:00">03:00</option>
                                                                <option value="04:00">04:00</option>
                                                                <option value="05:00">05:00</option>
                                                                <option value="06:00">06:00</option>
                                                                <option value="07:00">07:00</option>
                                                                <option value="08:00">08:00</option>
                                                                <option value="09:00">09:00</option>
                                                                <option value="10:00">10:00</option>
                                                                <option value="11:00">11:00</option>
                                                                <option value="12:00">12:00</option>
                                                                <option value="13:00">13:00</option>
                                                                <option value="14:00">14:00</option>
                                                                <option value="15:00">15:00</option>
                                                                <option value="16:00">16:00</option>
                                                                <option value="17:00">17:00</option>
                                                                <option value="18:00">18:00</option>
                                                                <option value="19:00">19:00</option>
                                                                <option value="20:00">20:00</option>
                                                                <option value="21:00">21:00</option>
                                                                <option value="22:00">22:00</option>
                                                                <option value="23:00">23:00</option>
                                                                <option value="24:00">24:00</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group top-margin col-md-12 col-sm-6 col-xs-12">
                                                        <button id="warehouse-submit" class="btn btn-primary btn-block"><i class="icon-search"></i> 예약하러 가기</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-xs-12">
                                    <div class="home-message">
                                        <h1>ALL DOOR</h1>
                                        <h1>신개념 공간 공유 플랫폼</h1>
                                        <a href="/about" class="btn btn-primary btn-lg border-radius">더 알아보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- 공간 타입에 따른 검색 -->
                    <section class="section clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="hotel-title" >
                                    <h3>공간 타입</h3>
                                    <hr class="left">
                                </div>
                                <div class="col-md-2">
                                  <a href="/list?type=total"> 전체 보기 </a>
                                </div>
                                <div class="col-md-2 col-sm-12 text-center">
                                  <a href="/list?type=숙박"><img src="/images/accom.jpg" style="width: 210px; height: 210px; marign-right : 2px !important;"></img></a>
                                </div>
                                <div class="col-md-2 col-sm-12 text-center">
                                  <a href="/list?type=공부방"><img src="/images/studyroom.jpg" style="width: 210px; height: 210px; marign-right : 2px !important;"></img></a>
                                </div>
                                <div class="col-md-2 col-sm-12 text-center">
                                  <a href="/list?type=회의실"><img src="/images/meet.jpg" style="width: 210px; height: 210px; marign-right : 2px !important;"></img></a>
                                </div>
                                <div class="col-md-2 col-sm-12 text-center">
                                  <a href="/list?type=창고"><img src="/images/ware.jpg" style="width: 210px; height: 210px; marign-right : 2px !important;"></img></a>
                                </div>
                                <div class="col-md-2 col-sm-12 text-center">
                                  <a href="/list?type=강당"><img src="/images/audi.jpg" style="width: 210px; height: 210px; marign-right : 2px !important;"></img></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- COPYRIGHTS PARTIAL -->
                    <%- include ./partial/copyrights.ejs %>
        </div>
        <!-- end wrapper -->

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/sidebar.js"></script>
        <script src="js/circle.js"></script>
        <script src="js/progress.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/contact.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/bootstrap-select.js"></script>
        <script src="js/custom.js"></script>

        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
        <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/revslider.js"></script>

        <script src="js/index/topbar.js"></script>
        <script src="js/index/SearchTab.js"></script>
    </body>

</html>
