<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!-- HEAD PARTIAL -->
<%- include ./partial/head %>
<body>

    <div id="loader">
        <div class="loader-container">
            <h3 class="loader-back-text"><img src="images/loader.gif" alt="" class="loader"></h3>
        </div>
    </div>

    <div id="wrapper">
      <!-- HEADER PARTIAL -->
      <%- include ./partial/header.ejs %>

        <section id="page-header" class="section background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="c1 breadcrumb text-left">
                            <li><a href="#">Home</a></li>
                            <li>My Page</li>
                        </ul>
                        <h3>My Page</h3>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix">
            <div class="container">
                <div class="row">
                    <div id="fullwidth" class="col-sm-12">
                        <!-- START CONTENT -->
                        <div class="row">
                          <!-- MYPAGE SIDEBAR PARTIAL -->
                          <%- include ./partial/mypage_sidebar.ejs %>
                            <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                              <h3>내 정보</h3>
                              <hr/>
                              <br/>
                              <div class="panel panel-default">
                                <div class="panel-heading"  style="background : gray !important;">
                                  <h3 class="panel-title">이름</h3>
                                </div>
                                <div class="panel-body" id="mypage-name">
                                  최인호
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" style="background : gray !important;">
                                  <h3 class="panel-title">이메일 주소</h3>
                                </div>
                                <div class="panel-body" id="mypage-email">
                                   revaer@naver.com
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" style="background : gray !important;">
                                  <h3 class="panel-title">핸드폰 번호</h3>
                                </div>
                                <div class="panel-body" id="mypage-phoneNumber">
                                   revaer@naver.com
                                </div>
                              </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                        <!-- END CONTENT -->
                    </div><!-- end fullwidth -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->


        <!-- COPYRIGHTS PARTIAL -->
        <%- include ./partial/copyrights.ejs %>
    </div><!-- end wrapper -->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/circle.js"></script>
    <script src="js/progress.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>

    <script src="js/mypage/index.js"></script>
</body>
</html>
