<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD PARTIAL -->
<%- include ./partial/head %>
    <body>
        <div id="loader">
            <div class="loader-container">
                <h3 class="loader-back-text"><img src="/images/loader.gif" alt="" class="loader"></h3>
            </div>
        </div>
        <div id="wrapper">
            <!-- HEADER PARTIAL -->
            <%- include ./partial/header.ejs %>
                <section id="page-header" class="section background">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="c1 breadcrumb text-left">
                                    <li><a href="/">Home</a></li>
                                    <li>관심 공간</li>
                                </ul>
                                <h3>관심 공간</h3>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section clearfix">
                    <div class="container">
                        <div class="row">
                            <div id="fullwidth" class="col-sm-12">
                                <div class="row">
                                    <!-- MYPAGE SIDEBAR PARTIAL -->
                                    <%- include ./partial/mypage_sidebar.ejs %>

                                    <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                                      <br/>
                                      <h3>관심 공간 리스트</h3>
                                      <hr/>
                                      <div id="favorite-list" class="col-md-12 col-sm-12">
                                        <div class="col-md-6 col-sm-12" style="width: 200px; height: 200px; overflow: hidden; margin-bottom:10px !important; ">
                                            <img src="/upload/mini_desti_03.jpg" width="200px" height="auto" alt="" class="img-responsive center-block">
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="mini-desti-title">
                                                <div class="pull-left">
                                                    <h6>공간 제목</h6>
                                                    <hr/>
                                                    <p class="btn btn-default btn-success">숙박</p>
                                                    <p class="btn btn-default btn-default">강남역</p>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="mini-desti-desc" style="margin-top : 5px !important;">
                                                    <p><strong>설명</strong> : 이 공간은 그지 같은 공간입니다. 예약하지 마세요! 제발요</p>
                                                    <div>
                                                        <p style="margin-bottom:0px !important;"><strong>공간 주소</strong> : 충남 홍성군 홍북면 상하리 </p>
                                                        <p style="margin-bottom:0px !important;"><strong>사용 가능 시간</strong> : 10:00 ~ 20:00 </p>
                                                        <p style="margin-bottom:0px !important;"><strong>사용 가능 요일</strong> : 월 화 수 목 금 토 일 </p>
                                                        <hr/>
                                                        <a class="btn btn-default btn-default border-radius text-right">공간정보 보러가기</a>
                                                        <a class="btn btn-default btn-deafult border-radius text-right">예약하러 가기</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                          <hr/>
                                        </div>
                                        <div class="col-md-6 col-sm-12" style="width: 200px; height: 200px; overflow: hidden; margin-bottom:10px !important; ">
                                            <img src="/upload/mini_desti_03.jpg" height="200px" width="auto" alt="" class="img-responsive center-block">
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="mini-desti-title">
                                                <div class="pull-left">
                                                    <h6>공간 제목</h6>
                                                    <hr/>
                                                    <p class="btn btn-default btn-success">숙박</p>
                                                    <p class="btn btn-default btn-default">강남역</p>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="mini-desti-desc" style="margin-top : 5px !important;">
                                                    <p><strong>설명</strong> : 이 공간은 그지 같은 공간입니다. 예약하지 마세요! 제발요</p>
                                                    <div>
                                                        <p style="margin-bottom:0px !important;"><strong>공간 주소</strong> : 충남 홍성군 홍북면 상하리 </p>
                                                        <p style="margin-bottom:0px !important;"><strong>사용 가능 시간</strong> : 10:00 ~ 20:00 </p>
                                                        <p style="margin-bottom:0px !important;"><strong>사용 가능 요일</strong> : 월 화 수 목 금 토 일 </p>
                                                        <hr/>
                                                        <a class="btn btn-default btn-default border-radius text-right">공간정보 보러가기</a>
                                                        <a class="btn btn-default btn-deafult border-radius text-right">예약하러 가기</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                          <hr/>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- COPYRIGHTS PARTIAL -->
                <%- include ./partial/copyrights.ejs %>
        </div>
        <!-- end wrapper -->

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/sidebar.js"></script>
        <script src="/js/circle.js"></script>
        <script src="/js/progress.js"></script>
        <script src="/js/jquery.prettyPhoto.js"></script>
        <script src="/js/contact.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/owl.carousel.js"></script>
        <script src="/js/bootstrap-select.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/underscore-min.js"></script>
        <script src="/js/async.min.js"></script>
        
        <script src="/js/mypage/favorite.js"></script>
    </body>

</html>
