<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!-- HEAD PARTIAL -->
<%- include ./partial/head %>
<body>

    <div id="loader">
        <div class="loader-container">
            <h3 class="loader-back-text"><img src="images/loader.gif" alt="" class="loader"></h3>
        </div>
    </div>

    <div id="wrapper">
      <!-- HEADER PARTIAL -->
      <%- include ./partial/header.ejs %>

        <section id="page-header" class="section background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="c1 breadcrumb text-left">
                            <li><a href="/">Home</a></li>
                            <li>공간 호스팅하기</li>
                        </ul>
                        <h3>공간 호스팅하기</h3>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section clearfix">
            <div class="container">
                <div class="row">
                    <div id="fullwidth" class="col-sm-12">
                        <!-- START CONTENT -->
                        <div class="row">
                          <form class="form-horizontal">
                              <!-- <div id="register-message" class="alert alert-danger" role="alert">오류 메시지 보이는 곳</div> -->
                              <div class="form-group">
                                  <p>공간에 대한 이름/설명</p>
                                  <hr/>
                                  <label for="inputName" class="col-sm-2 control-label">공간 이름 :</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="register-name" placeholder="공간 이름을 입력해주세요.">
                                  </div>
                                  <label for="inputType" class="col-sm-2 control-label">공간 타입 :</label>
                                  <div class="col-sm-4">
                                    <select class="form-control" id="register-type">
                                      <option value="숙박">숙박</option>
                                      <option value="강당">강당</option>
                                      <option value="공부방">공부방</option>
                                      <option value="회의실">회의실</option>
                                      <option value="창고">창고</option>
                                    </select>
                                  </div>
                                  <label for="inputPrice" class="col-sm-2 control-label">공간 태그 :</label>
                                  <div class="col-sm-4">
                                    <select class="form-control" id="register-tag">
                                      <option value="강남역">강남역</option>
                                      <option value="선릉역">선릉역</option>
                                      <option value="신림역">신림역</option>
                                      <option value="길음역">길음역</option>
                                    </select>
                                  </div>
                                  <label for="inputName" class="col-sm-2 control-label">공간 주소 :</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="register-address" placeholder="공간 주소를 입력해주세요.">
                                  </div>
                                  <label for="inputDetail" class="col-sm-2 control-label">내용 :</label>
                                  <div class="col-sm-10">
                                    <textarea name="detail" id="register-detail" class="register-textarea form-control" placeholder="공간에 대한 설명을 입력해주세요."></textarea>
                                  </div>
                                  <label for="inputPicture" class="col-sm-2 control-label">공간 이미지 :</label>
                                  <div class="col-sm-10">
                                    <input id="register-roomimage-1" class="form-control" type="file" name="roomimage" accept="image/*">
                                  </div>
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <input id="register-roomimage-2"class="form-control" type="file" name="roomimage" accept="image/*">
                                  </div>
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <input id="register-roomimage-3"class="form-control" type="file" name="roomimage" accept="image/*">
                                  </div>
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <input id="register-roomimage-4" class="form-control" type="file" name="roomimage" accept="image/*">
                                  </div>
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <input id="register-roomimage-5" class="form-control" type="file" name="roomimage" accept="image/*">
                                  </div>
                                  <p>도어락 기능 설정</p>
                                  <hr/>
                                  <label for="inputDeviceId" class="col-sm-2 control-label">디바이스 ID :</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="register-deviceId" placeholder="All-Door에 적혀있는 고유 아이디를 입력해주세요.">
                                  </div>
                                  <label for="inputType" class="col-sm-2 control-label">이용 시작 시간 :</label>
                                  <div class="col-sm-4">
                                    <select class="form-control" id="register-starttime">
                                      <option value="00:00">00:00</option>
                                      <option value="01:00">01:00</option>
                                      <option value="02:00">02:00</option>
                                      <option value="03:00">03:00</option>
                                      <option value="04:00">04:00</option>
                                      <option value="05:00">05:00</option>
                                      <option value="06:00">06:00</option>
                                      <option value="07:00">07:00</option>
                                      <option value="08:00">08:00</option>
                                      <option value="09:00">09:00</option>
                                      <option value="10:00">10:00</option>
                                      <option value="11:00">11:00</option>
                                      <option value="12:00">12:00</option>
                                      <option value="13:00">13:00</option>
                                      <option value="14:00">14:00</option>
                                      <option value="15:00">15:00</option>
                                      <option value="16:00">16:00</option>
                                      <option value="17:00">17:00</option>
                                      <option value="18:00">18:00</option>
                                      <option value="19:00">19:00</option>
                                      <option value="20:00">20:00</option>
                                      <option value="21:00">21:00</option>
                                      <option value="22:00">22:00</option>
                                      <option value="23:00">23:00</option>
                                      <option value="24:00">24:00</option>
                                    </select>
                                  </div>
                                  <label for="inputType" class="col-sm-2 control-label">이용 종료 시간 :</label>
                                  <div class="col-sm-4">
                                    <select class="form-control" id="register-endtime">
                                      <option value="00:00">00:00</option>
                                      <option value="01:00">01:00</option>
                                      <option value="02:00">02:00</option>
                                      <option value="03:00">03:00</option>
                                      <option value="04:00">04:00</option>
                                      <option value="05:00">05:00</option>
                                      <option value="06:00">06:00</option>
                                      <option value="07:00">07:00</option>
                                      <option value="08:00">08:00</option>
                                      <option value="09:00">09:00</option>
                                      <option value="10:00">10:00</option>
                                      <option value="11:00">11:00</option>
                                      <option value="12:00">12:00</option>
                                      <option value="13:00">13:00</option>
                                      <option value="14:00">14:00</option>
                                      <option value="15:00">15:00</option>
                                      <option value="16:00">16:00</option>
                                      <option value="17:00">17:00</option>
                                      <option value="18:00">18:00</option>
                                      <option value="19:00">19:00</option>
                                      <option value="20:00">20:00</option>
                                      <option value="21:00">21:00</option>
                                      <option value="22:00">22:00</option>
                                      <option value="23:00">23:00</option>
                                      <option value="24:00">24:00</option>
                                    </select>
                                 </div>
                                 <label for="inputType" class="col-sm-2 control-label">시간/하루 당 가격 :</label>
                                 <div class="col-sm-4">
                                   <input type="number" class="form-control" id="register-price" placeholder="시간/하루 당 가격" value="0">
                                 </div>
                                 <label for="inputType" class="col-sm-2 control-label">최대 이용 인원 :</label>
                                 <div class="col-sm-4">
                                   <input type="number" class="form-control" id="register-capacity" placeholder="최대 이용 인원" value="1">
                                </div>
                                 <label for="inputType" class="col-sm-2 control-label">사용 가능 요일 :</label>
                                 <div class="col-sm-10">
                                   <div class="col-sm-1">
                                     <input id="register-enableday-mon" type="checkbox" name="월요일" value="월"> 월
                                   </div>
                                   <div class="col-sm-1">
                                     <input id="register-enableday-tue" type="checkbox" name="화요일" value="화"> 화
                                   </div>
                                   <div class="col-sm-1">
                                     <input id="register-enableday-wed" type="checkbox" name="수요일" value="수"> 수
                                   </div>
                                   <div class="col-sm-1">
                                     <input id="register-enableday-thu" type="checkbox" name="목요일" value="목"> 목
                                   </div>
                                   <div class="col-sm-1">
                                     <input id="register-enableday-fri" type="checkbox" name="금요일" value="금"> 금
                                   </div>
                                   <div class="col-sm-1">
                                     <input id="register-enableday-sat" type="checkbox" name="토요일" value="토"> 토
                                   </div>
                                   <div class="col-sm-1">
                                     <input id="register-enableday-sun" type="checkbox" name="일요일" value="일"> 일
                                   </div>
                                 </div>
                                 <div class="col-sm-offset-2 col-sm-10">
                                      <hr>
                                      <a id="register-submit" type="submit" class="btn btn-primary btn-normal border-radius pull-right">공간 등록하기</a>
                                 </div>
                              </div>
                          </form>
                        </div><!-- end row -->
                        <!-- END CONTENT -->
                    </div><!-- end fullwidth -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <!-- COPYRIGHTS PARTIAL -->
        <%- include ./partial/copyrights.ejs %>
    </div><!-- end wrapper -->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/circle.js"></script>
    <script src="js/progress.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>

    <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/revslider.js"></script>

    <script src="js/register/index.js"></script>
</body>
</html>
