.type-box{
    width: 250px;
    height: 250px;
}

.register-textarea{
  height: 250px !important;
}

.cardview-room{
  padding : 6px !important;
}

.delete{

}

.removed_image {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.room_image {

}
