<div class="copyrights clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <p>COPYRIGHT ALL DOOR 2016. ALL RIGHT RESERVED</p>
            </div><!-- end col -->

            <div class="col-md-6 text-right">
                <div class="social-footer">
                </div><!-- end social-footer -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end copyrights -->
