<div class="topbar">
    <div class="container">
        <div class="pull-left">
            <ul class="topbar-drops list-inline">
            </ul>
        </div>
        <div class="pull-right">
            <ul class="topbar-social list-inline">
                <li id="topbar-signup"><a href="/signup">회원가입</a></li>
                <li id="topbar-login"><a href="/login">로그인</a></li>
                <li id="topbar-favorite"><a href="/mypage/favorite">관심 공간</a></li>
                <li id="topbar-mypage"><a href="/mypage">MyPage</a></li>
                <li id="topbar-logout"><a href="/logout">로그아웃</a></li>
            </ul>
        </div>
    </div>
</div>
