<header class="header fixedheader nobg">
    <div class="menu-container">
        <div class="container">
            <div class="menu-wrapper">
                <nav id="navigation" class="navbar" role="navigation">
                    <div class="navbar-inner">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="icon-menu27"></i>
                            </button>
                            <a id="brand" class="clearfix navbar-brand" href="/"><img src="images/wlogo.png" alt="Trips"></a>
                        </div><!-- end navbar-header -->
                        <div id="navbar-collapse" class="navbar-right navbar-collapse collapse clearfix">
                            <ul class="nav navbar-nav yamm">
                                <li><a href="/about">All Door?</a></li>
                                <li><a href="/list">인기 있는 공간</a></li>
                                <li><a href="/search">공간 검색하기</a></li>
                                <li id="hedaer-register"><a href="/register">공간 호스팅하기</a><li>
                                <li id="header-mypage"><a href="/mypage">My Page</a></li>
                            </ul><!-- end navbar-right -->
                        </div><!-- end navbar-callopse -->
                    </div><!-- end navbar-inner -->
                </nav><!-- end navigation -->
            </div><!-- menu wrapper -->
        </div><!-- end container -->
    </div><!-- end menu-container -->
</header><!-- end header -->
