<div id="mypage-sidebar" class="col-md-4 col-sm-12 col-xs-12">
    <div class="widget clearfix">
        <div class="widget-title">
            <h3><strong>예약 관련</strong></h3>
        </div><!-- end title -->
        <div class="listwidget">
            <ul>
                <li><a href="/mypage/reservation">진행중인 예약 정보</a></li>
                <li><a href="/mypage/reservation/old">지난 예약 정보</a></li>
            </ul>
        </div><!-- end listwidget -->
    </div><!-- end widget -->

    <div class="widget clearfix">
        <div class="widget-title">
            <h3><strong>호스팅 관련</strong></h3>
        </div><!-- end title -->
        <div class="listwidget">
            <ul>
                <li><a href="/register">공간 호스팅하기</a></li>
                <li><a href="/mypage/room">등록된 호스팅 공간</a></li>
              </ul>
        </div><!-- end listwidget -->
    </div><!-- end widget -->

    <div class="widget clearfix">
        <div class="widget-title">
            <h3><strong>개인 정보 관련</strong></h3>
        </div><!-- end title -->
        <div class="listwidget">
            <ul>
                <li><a href="/mypage">내 정보</a></li>
                <li><a href="/mypage/change">비밀번호 변경</a></li>
                <li><a href="/logout">로그아웃</a></li>
            </ul>
        </div><!-- end listwidget -->
    </div><!-- end widget -->
</div><!-- end col -->
